.about-info {
  display: flex;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 44px;
    margin-top: 100px;
    color: #506a85;
  }
  p {
    margin-bottom: 100px;
    color: #73879c;
  }
}

.passion {
  display: flex;
  i {
    font-size: 50px;
    margin-right: 10px;
    color: #00bc9c;
  }
  .passion-info {
    h3 {
      font-size: 24px;
      color: #506a85;
      font-weight: 700;
    }
    p {
      color: #73879c;
    }
  }
}
.creati {
  display: flex;
  i {
    font-size: 50px;
    margin-right: 20px;
    color: #00bc9c;
  }
  .creativity {
    h3 {
      font-size: 24px;
      color: #506a85;
      font-weight: 700;
    }
    p {
      color: #73879c;
    }
  }
}
.quality {
  display: flex;
  i {
    font-size: 40px;
    margin-right: 10px;
    color: #00bc9c;
  }
  .qualitys {
    margin-bottom: 100px;
    h3 {
      font-size: 24px;
      color: #506a85;
      font-weight: 700;
    }
    p {
      color: #73879c;
    }
  }
}